# Binaries
**/bin/
!vendor/premake/bin/
bin-int/
obj/
Intermediates/

# KantoEngine files
*.log

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj
/output.txt
