[submodule "KantoEngine/vendor/GLFW"]
	path = KantoEngine/vendor/GLFW
	url = https://github.com/jerrykunz/glfw.git
[submodule "KantoEngine/vendor/glm"]
	path = KantoEngine/vendor/glm
	url = https://github.com/g-truc/glm.git
