[submodule "KantoEngine/vendor/GLFW"]
	path = KantoEngine/vendor/GLFW
	url = https://github.com/jerrykunz/glfw.git
[submodule "KantoEngine/vendor/glm"]
	path = KantoEngine/vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "KantoEngine/vendor/spdlog"]
	path = KantoEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "KantoEngine/vendor/imgui"]
	path = KantoEngine/vendor/imgui
	url = https://github.com/jerrykunz/imgui
[submodule "KantoEngine/vendor/tracy/tracy"]
	path = KantoEngine/vendor/tracy/tracy
	url = https://github.com/wolfpld/tracy.git
[submodule "KantoEngine/vendor/NFD-Extended/NFD-Extended"]
	path = KantoEngine/vendor/NFD-Extended/NFD-Extended
	url = https://github.com/btzy/nativefiledialog-extended.git
[submodule "KantoEngine/vendor/Box2D"]
	path = KantoEngine/vendor/Box2D
	url = https://github.com/jerrykunz/box2d.git
[submodule "KantoEngine/vendor/msdf-atlas-gen"]
	path = KantoEngine/vendor/msdf-atlas-gen
	url = https://github.com/jerrykunz/msdf-atlas-gen
